@media screen and (max-width: 800px) {
	.nav {
		font-size: 0.6em; 
	}
	.words {
		width: 100%;
	}
	.work {
		width: 100%;
    }
    .picture {
    	max-height: fit-content;
    }
    .caption {
    	letter-spacing: 5px;
    }
}


@media screen and (min-width: 801px) {
	.one, .two {
		width: 50%;
	}
    .three {
    	width: 100%;
    }
}


@media screen and (min-width: 1200px) {
	.one, .two, .three {
     	width: 33.33%;
	}
}